{:paths   ["src"]

 :deps    {org.clojure/clojure     {:mvn/version "1.11.1"}
           metosin/reitit          {:mvn/version "0.5.18"}
           metosin/malli           {:mvn/version "0.9.2"}
           ring/ring-jetty-adapter {:mvn/version "1.9.6"}
           org.clojure/java.jdbc   {:mvn/version "0.7.12"}
           org.xerial/sqlite-jdbc  {:mvn/version "3.39.3.0"}}

 :aliases {:serve    {:main-opts ["-m" "bekind.main"]}

           :dev      {:extra-paths ["test"]}

           :test     {:extra-deps {lambdaisland/kaocha {:mvn/version "1.71.1119"}}
                      :main-opts  ["-m" "kaocha.runner"]}

           :lint     {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2022.10.14"}}
                      :main-opts    ["-m" "clj-kondo.main" "--lint" "src" "--lint" "test"]}

           :outdated {:replace-deps {olical/depot        {:mvn/version "2.3.0"}
                                     org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}
                      :main-opts    ["-m" "depot.outdated.main" "--every" "--write"]}}}
